.friend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profileImgContainer {
  margin-right: 10px;
  position: relative;
}

.profile {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.online {
  width: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid #fff;
}

.offline {
  width: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid #fff;
}

.username {
  font-weight: 500;
}
