.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.messageText {
  padding: 10px;
  max-width: 300px;
  border-radius: 20px;
  background-color: rgb(24, 119, 242);
  color: rgb(255, 255, 255);
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.ownMessage {
  align-items: flex-end;
}

.ownMessage .messageText {
  background-color: rgb(199, 199, 199);
  color: rgb(10, 10, 10);
}
