.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  max-width: 300px;
  border-radius: 20px;
  background-color: rgb(24, 119, 242);
  color: rgb(255, 255, 255);
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(255, 241, 241);
  color: rgb(10, 10, 10);
}
