.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.userInfo {
  margin-bottom: 30px;
}

.info {
  margin-bottom: 10px;
}

.infoKey {
  font-weight: 500;
  margin-right: 15px;
  color: rgb(85, 85, 85);
}

.infoValue {
  font-weight: 300;
}

.followings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.following {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.followingImg {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}

.followButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
